.contact-page {
    background-color: #fff;    
    padding: 50px 0px;
}

.contact-page h2 {
    color: #1d9eb4;
    margin-bottom: 10px;
}

.contact-form input {
    width: 100%;
    border: 2px solid rgb(255, 255, 255);
    margin-bottom: 15px;
    outline: none;
    padding: 8px 16px;
    transition: .6s;
    background-color: #fef0e7;
}

.contact-form input:focus {
    border: 2px solid #2db8be;
}

textarea {
    width: 100%;
    height: 130px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #fff;
    background-color: #fef0e7;
    font-size: 16px;
    outline: none;
    resize: none;
    transition: .6s;
}

textarea:focus {
    border: 2px solid #2db8be;
}

.contact-btn {
    border: 2px solid #1d9eb4;
    background-color: #1d9eb4;
    padding: 5px 16px;
    color: white;
    margin-top: 9px;
    font-weight: 500;
    width: 100%;
    font-size: 20px;
    transition: .5s;
}

.contact-btn:hover {
    background-color: #fff;
    color: #1d9eb4;
}